section{
    height: 0 auto;
    margin: 0;
    padding: auto;
}
.l-SideBar{
    background-color: #0A8375;
}
.logo img{
    width: 19%;
    margin: 37.87px 0px 0px 98.5px;
}
.design-icon{
    height: auto;
}
.design-icon img{
    width: 50%;
    margin-top: 47.9%;

}
.login-form{
    margin-top: 18%;
    height: 328px;
    width: 400px;
    border-radius: 2px;

}
.btn{
    color:white;
    background-color:  #0A8375;
    width: 100%;
    font-size: 16px;
}

#register{
   color:  #0A8375;
   font-weight: bold;
}

@media screen and (max-width: 575.98px) {
    .logo img{
        
        margin: 20px;
    }
    .l-SideBar{
        height: 100px;
    }
    .design-icon img{
        width: 15%;
        margin: -12% 0 0 84%;
    }
}