<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./personalDetails.css">
    <title>Personal Details</title>
</head>

<body>

    <section>
        <div class="row page-wrapper">
            <div
                class="sidebar col-lg-2  d-flex flex-lg-column align-content-between justify-content-between col-md-12">
                <div class="sidebar-logo">
                    <a href="#"><img src="../images/Group 6.png" alt=""></a>

                </div>
                <div class=" sidebar-down-img">
                    <img class="w-100" src="../images/XMLID 15.png" alt="">
                </div>
            </div>
            <div class="content-body col-lg-10 col-md-12">
                <div class="underline-text">
                    <p><small>abc>Are you a Cunsultant> Sign up</small></p>
                </div>
                <h3>Personal Details</h3>
                <div class="line"></div>
                <div class="info-container mt-3 row">
                    <div class="col-lg-9 col-md-12">
                        <div class="process-icon-box">
                            <div class="d-flex">
                                <div class="icon-holder active">
                                    <img src="../images/Group1551.png" alt="">
                                </div>
                                <div class="icon-holder">
                                    <img src="../images/Group 1556.png" alt="">
                                </div>
                                <div class="icon-holder">
                                    <img src="../images/Group.png" alt="">
                                </div>
                                <div class="icon-holder">
                                    <img src="../images/Group 1552.png" alt="">
                                </div>
                            </div>
                            <div class="process-line"></div>
                        </div>
                        <div class="line mt-3 mb-3"></div>
                        <div class="form-container w-75">
                            <form action="">
                                <div class="row g-3 align-items-center">
                                    <div class="col-lg-4">
                                        <label for="" class="col-form-label">Choose Your User ID</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="d-flex justify-content-between"><input placeholder="Rifat9090"
                                                type="text" class="form-control w-75">
                                            <input type="text" placeholder="Check Availability"
                                                class="form-control w-25">
                                        </div>
                                        <span class="form-text text-success">
                                            This User ID is available
                                        </span>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Name</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input placeholder="Rifat Bin Jahanara" type="text"
                                                    class="form-control w-100">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Profile Photo</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input type="file" class="form-control">
                                                <span class="form-text text-secondary">
                                                    (Upload your headshot photo)
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Gender</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="d-flex">
                                                <input class="form-check-input" type="radio" id="male" name="gender"
                                                    value="male">
                                                <label for="male">Male </label><br>
                                                <input class="form-check-input" type="radio" id="female" name="gender"
                                                    value="female">
                                                <label for="female">Female </label><br>
                                                <input class="form-check-input" type="radio" id="other" name="gender"
                                                    value="other">
                                                <label for="other">Third gender</label>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Date of Birth</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input placeholder="2021-01-10" type="text" class="form-control w-75">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Mobile</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="d-lg-flex">
                                                <input placeholder="Bangladesh (+880)" type="text"
                                                    class="form-control w-lg-50">
                                                <input placeholder="01563743929" type="text"
                                                    class="form-control w-lg-50">

                                            </div>
                                            <span class="form-text text-secondary">
                                                (Your Mobile number will only be used to send transactional SMS’s & OTP
                                                for verification) (Upload your headshot photo)
                                            </span>
                                        </div>
                                    </div>


                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Email</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input placeholder="rifatbinjahanara@gmail.com" type="email"
                                                    class="form-control w-100">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Upload your NID</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input type="file" class="form-control">
                                                <span class="form-text text-secondary">
                                                    (Upload your headshot photo)
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Present Address</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input placeholder="Bangladesh, Chittagong, Anowara" type="text"
                                                    class="form-control w-100">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Permaanet Address</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="">
                                                <input placeholder="Bangladesh, Chittagong, Anowara" type="text"
                                                    class="form-control w-100">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Choose a Password</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="d-flex">
                                                <input placeholder="skdjoi0wir402-1234jkfslkjo" type="password"
                                                    class="form-control w-100"><button>hide</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">
                                            <label for="" class="col-form-label">Confirm Password</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="d-flex">
                                                <input placeholder="**********" type="password"
                                                    class="form-control w-100"><button>show</button>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-4">

                                        </div>
                                        <div class="col-lg-8">

                                            <input type="checkbox" name="" id="">
                                            <span class="mt-3 form-text text-dark">
                                                I agree to terms of use and privacy policy
                                            </span><br>
                                            <br>

                                            <button class="btn-brand">Submit & continue</button>

                                        </div>
                                    </div>



                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="right-note mt-3">
                            <h5>Why Virtual edu-Consultation?</h5>
                            <div class="line mt-4"></div>
                            <ul>
                                <li>One to one communications
                                    with Current Students about cost
                                    educations quality, admission process
                                    etc. for particular university.
                                </li>
                                <li>Getting various institutions information from a
                                    single platforms
                                </li>
                                <li>A user can Consultation via Live chat, Voice call
                                    and video call. Different media will cost differently.
                                </li>
                                <li>Using Edu-Consultant system both authority and
                                    Consultant will be financially befinated.
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>