<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="./serviceDetails.css">
    <title>Service Details</title>
</head>

<body>

    <section>
        <div class="row page-wrapper">
            <div
                class="sidebar col-lg-2  d-flex flex-lg-column align-content-between justify-content-between col-md-12">
                <div class="sidebar-logo">
                    <a href="#"><img src="../images/Group 6.png" alt=""></a>

                </div>
                <div class=" sidebar-down-img">
                    <img class="w-100" src="../images/XMLID 15.png" alt="">
                </div>
            </div>
            <div class="content-body col-lg-10 col-md-12">
                <div class="underline-text">
                    <p><small>abc>Are you a Cunsultant> Sign up</small></p>
                </div>
                <h3>Service Details</h3>
                <div class="line"></div>
                <div class="info-container mt-3 ">
                    <div class=" col-md-12">
                        <div class="process-icon-box">
                            <div class="d-flex">
                                <div class="icon-holder active">
                                    <img src="../images/Group1551.png" alt="">
                                </div>
                                <div class="icon-holder active">
                                    <img src="../images/Group 1556 w.png" alt="">
                                </div>
                                <div class="icon-holder">
                                    <img src="../images/Group.png" alt="">
                                </div>
                                <div class="icon-holder">
                                    <img src="../images/Group 1552.png" alt="">
                                </div>
                            </div>
                            <div class="process-line"></div>
                        </div>
                        <div class="line mt-3 mb-3"></div>
                        <div class="form-container w-75">
                            <form action="">
                                <div class="my-3">
                                    <label for="">Select a Program</label>
                                    <div class="input-group">
                                        <input placeholder="Bachelor Engineering" type="text" class="form-control"
                                            aria-label="Text input with segmented dropdown button">

                                        <button type="button"
                                            class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="">Institute Name</label>
                                    <input placeholder="Southern University Bangladesh" class="form-control"
                                        type="text">
                                </div>

                                <div class="my-3">
                                    <label for="">Faculty Name</label>
                                    <input placeholder="Engineering" class="form-control" type="text">
                                </div>

                                <div class="my-3">
                                    <label for="">Department Name</label>
                                    <input placeholder="Computer Science" class="form-control" type="text">
                                </div>

                                <div class="my-3 d-flex justify-content-between">
                                    <p>Completed your course</p>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="" checked>

                                    </div>
                                </div>
                                <div class="my-3 d-flex justify-content-between">
                                    <p> <img src="../images/Vector.png" alt=""> Upload your cartificate
                                        Image or PDF
                                        file</p>
                                    <div class="form-check form-switch">
                                        <input class="file-control" type="file" id="" checked>

                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="">Seesion Year</label>
                                    <div class="d-flex">
                                        <div class="input-group me-2">
                                            <input placeholder="2017" type="text" class="form-control w-lg-50"
                                                aria-label="Text input with segmented dropdown button">

                                            <button type="button"
                                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                                            </ul>
                                        </div> <span> To: </span>
                                        <div class="input-group ms-2">
                                            <input placeholder="2017" type="text" class="form-control w-lg-50"
                                                aria-label="Text input with segmented dropdown button">

                                            <button type="button"
                                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="my-5 d-flex justify-content-between">
                                    <p> Upload your ID card</p>
                                    <div class="form-check form-switch">
                                        <input class="file-control" type="file" id="" checked>

                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="">Institution Location</label>
                                    <div class="d-flex">
                                        <div class="input-group me-2">
                                            <input placeholder="Bangladesh" type="text" class="form-control w-lg-50"
                                                aria-label="Text input with segmented dropdown button">

                                            <button type="button"
                                                class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                        <div class="input-group ms-2">
                                            <input placeholder="Mehedibag, Chittaagong,street 102" type="text"
                                                class="form-control w-lg-50"
                                                aria-label="Text input with segmented dropdown button">


                                        </div>

                                    </div>
                                </div>

                                <div class="my-3">
                                    <label for="">Professional Bio or About yourself</label>
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="" id=""
                                            style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Describe your professional Bio</label>
                                    </div>
                                </div>

                                <button class="btn-brand">Submit & continue</button>

                        </div>
                        </form>
                    </div>

                </div>


            </div>
        </div>
        </div>
    </section>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>