*{
    margin: 0;
    padding: 0;
 
}
.sidebar{
    min-height: 100vh;
}
.notification-profile {
    width: 60px;
    border-radius: 21px;
}
.section-Heading {
    background-color: #0A8374;
    padding: 1rem 3rem;
    color: white;
}
.user-image{
    border-radius: 50%;
    border: 10px solid #E8E4DE;
    height: 120px;
    width: 120px;
}
.name-info {
    line-height: 3.5px;
    text-align: center;
}
.sidebar-menu{
    font-family: jost;
}
.menu{
    transition: 0.3s ;
}
.menu:hover{
    background-color:#F4FCF6 ;
    cursor: pointer;
    border-left: 3px solid tomato;
}
.appointment{
    text-decoration: none;
    color: black;
    padding: 6px 20px;
    padding-bottom: 10px;
    text-align: center;
    transition: 0.3s ;
    border-radius: 15px ;
}
.appointment:hover{
    background-color: #FD3464;
    border-radius: 15px;
    color: white;
}
.client-table .row{
    line-height: 1;
}
.client-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.status{
    text-align: center;
}
.status a{
    text-decoration: none;
    color: black;
    padding: 4px 10px;
  
}

.view ,.accept ,.cancel{
    transition: .3s;
}
.view:hover{
    background: #1473E6;
    padding: 4px 10px;
    color: white;
}
.accept:hover{
    background: #2BC155;
    padding: 4px 10px;
    color: white;
}
.cancel:hover{
    background: #F12222;
    padding: 4px 10px;
    color: white;
}
.left-arrow,.right-arrow{
    background-color: #0A8374;
    padding: 0px 6px;
    height: 60%;
    cursor: pointer;
}
.page-number{
    transition: 0.3s;
    height: 60%;
    border-radius: 5px;
}
.page-number:hover{
    background-color:#0A8374;
    height: 60%;
    color: white;
    cursor: pointer;
}
.review-name{
    line-height: .7;
}
.message{
    background-color: #FF8577;
    padding: 0px 1rem;
    border-radius: 20px;
    transition: 0.3s;
    color: white;
}
.notification{
    margin-left: 1.5rem;
    padding: 0px 1rem;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.notification a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.notification a:hover{
    color: white;
}
.message,.notification:hover{
    background-color:#FF8577;
    color: white;
    cursor: pointer;
}
.message-text{
    line-height: .5;
}
.text-number{
    background-color:#0A8374;
    padding:9px 7px;
    color: white;
    border-radius: 50%;
}

@media screen and (max-width: 1390px) {
    
    .status a{
        line-height: 1.5;
    }
    .sidebar{
        min-height: 100%;
    }
    .review-name{
        line-height: 1.5px;
    }
}
@media screen and (max-width: 1280px) {
    .week-days-container{
        flex-direction: column;
    }
}
