*{
    margin: 0;
    padding: 0;
 
}
.sidebar{
    min-height: 100vh;
}
.notification-profile {
    width: 60px;
    border-radius: 21px;
}
.section-Heading {
    background-color: #0A8374;
    padding: 1rem 3rem;
    color: white;
}
.user-image{
    border-radius: 50%;
    border: 10px solid #E8E4DE;
    height: 120px;
    width: 120px;
}
.name-info {
    line-height: 3.5px;
    text-align: center;
}
.sidebar-menu{
    font-family: jost;
}
.menu{
    transition: 0.3s ;
}
.menu:hover{
    background-color:#F4FCF6 ;
    cursor: pointer;
    border-left: 3px solid tomato;
}
.appointment{
    text-decoration: none;
    color: black;
    padding: 7px 15px;
    padding-bottom: 5px;
    text-align: center;
    transition: 0.2s ;
}
.appointment:hover{
    background-color: #FD3464;
    border-radius: 15px;
    color: white;
}
.client-table .row{
    line-height: 1;
}
.client-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.status{
    text-align: center;
}
.status a{
    text-decoration: none;
    color: black;
    padding: 5px;
  
}
.progress-container{
    line-height: .5;
    padding: .5rem 2rem;
}
.total-earning{
    background: rgb(187,146,255);
    background: linear-gradient(69deg, rgba(187,146,255,1) 0%, rgba(163,54,201,1) 100%);
    border-radius: 10px;
    color:white;
}
.total-day-appointment{
    background: rgb(255,150,143);
    background: linear-gradient(69deg, rgba(255,150,143,1) 0%, rgba(232,65,65,1) 100%);
    border-radius: 10px;
    color:white;
}
.day-booking{
    background: rgb(126,235,124);
background: linear-gradient(69deg, rgba(126,235,124,1) 0%, rgba(54,201,95,1) 100%);
    border-radius: 10px;
    color:white;
}
.total-appointment{
    background: rgb(146,189,255);
background: linear-gradient(69deg, rgba(146,189,255,1) 0%, rgba(54,157,201,1) 100%);
    border-radius: 10px;
    color:white;
}
.view ,.accept ,.cancel{
    transition: .3s;
}
.view:hover{
    background: #1473E6;
    padding: 4px 10px;
    color: white;
}
.accept:hover{
    background: #2BC155;
    padding: 4px 10px;
    color: white;
}
.cancel:hover{
    background: #F12222;
    padding: 4px 10px;
    color: white;
}

@media screen and (max-width: 1390px) {
    
    .status a{
        line-height: 1.5;
    }
}